body, html {
    background: url("../images/cd_wood.png");
}
body, input, textarea {
    color: #222;
    font: 12px/1.5 'Helvetica',Arial,sans-serif;
}
.date {
    font: 10px/1em 'Helvetica',Arial,sans-serif;
    text-transform: uppercase;
}
#header {
    height: 160px;
    overflow: hidden;
}
#header_inner {
    background:#320707;
    height: 160px;
    margin: 0 auto;
    padding: 0 40px;
    width: 970px;
	-webkit-border-bottom-left-radius:15px;
	-moz-border-bottom-left-radius:15px;
	border-bottom-left-radius:15px;
	-webkit-border-bottom-right-radius:15px;
	-moz-border-bottom-right-radius:15px;
	border-bottom-right-radius:15px;
	-moz-box-shadow: inset -5px -5px 10px #982828;
	-webkit-box-shadow: inset -5px -5px 10px #982828;
	box-shadow: inset -5px -5px 10px #982828;
}
#logo {
    display: block;
    float: left;
    width: 560px;
    margin-left:-20px;
    margin-top:-60px;
}
#logo a {
    background: url("../images/cd-joinery_logo.png") no-repeat scroll 0 0 transparent;
    clear: both;
    display: block;
    height: 82px;
    text-indent: -9999px;
    width: 560px;
}
#medals{
    display: block;
    float: right;
    height: 85px;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
#nav,#footer_nav{
    height: 50px;
    margin-bottom: 6px;
    width: 1000px;
}
#nav ul,#footer_nav ul{
    line-height: 45px;
    list-style: none outside none;
}
#nav ul li, #footer_nav ul li{
    display: block;
    float: left;
    font-family: 'Helvetica',Arial,sans-serif;
    font-size: 11px;
    letter-spacing: 0.5pt;
    text-transform: uppercase;
    width: auto;
    padding-right:30px;
}
#nav ul li a, #footer_nav ul li a{
    color: #F4F3F1;
    display: block;
    font-weight:bold;
 }
#nav ul li a:hover, #footer_nav ul li a:hover {
    color: #68271A;
}
#nav ul li#twitter {
    margin-left:20px;
    width: 160px;
}
#nav ul li#twitter a {
}
#nav ul li#twitter a:hover {
}
#nav ul li#mailchimp {
	margin-left: 200px;
    width: 220px;
}
#nav ul li#mailchimp a {
}
#nav ul li#mailchimp a:hover {
}
#footer {
    display: block;
    height: 200px;
    overflow: hidden;
}
#footer_nav {
    background: #320707;
	background-repeat:repeat-x;
	background-position:0 25px;
    color: #5E5951;
    font-family: 'Helvetica',Arial,sans-serif;
    font-size: 11px;
    height: 180px;
    margin: 0 auto;
    padding: 10px 40px;
    width: 970px;
	-webkit-border-top-left-radius:15px;
	-moz-border-top-left-radius:15px;
	border-top-left-radius:15px;
	-webkit-border-top-right-radius:15px;
	-moz-border-top-right-radius:15px;
	border-top-right-radius:15px;
	-moz-box-shadow: inset -5px 5px 10px #982828;
	-webkit-box-shadow: inset -5px 5px 10px #982828;
	box-shadow: inset -5px 5px 10px #982828;
}
#footer_quote {
    margin-top: 2px;
    color:#fff;
	font-family: 'Rock Salt', sans-serif;
    font-size: 22px;
    float: left;
}
.footer_quote_source{
    font-family: 'Helvetica',Arial,sans-serif;
    font-size: 12px;
    padding-left:12px;
    float: left;
}
#footer_address {
    margin-top: 62px;
    color:#fff;
    font-size: 18px;
}
#footer_logo{
    float: right;
    margin-top: -10px;
}
.bold{
    font-weight: bold;
}
h1, h2, h3, h4, h5, h6 {
    clear: both;
    font-weight: bold;
    line-height: 1.2em;
}
h1 {
    color:#320707;
    font-size: 24px;
    margin-bottom: 0;
    text-transform:uppercase;
}
h2 {
    font-size: 56px;
    color:#fff;
    float:right;
}
h2 a,a:hover{
    color:#fff;
}
h3 {
    font-size: 15px;
    margin-bottom: 0.8em;
}
.news_col h2 {
    font-size: 16px;
    float:left;
}
#content_block {
    clear: both;
    display: block;
    margin: 20px auto;
    overflow: hidden;
    padding: 0;
    width: 1050px;
    	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	border-radius:15px;
}
#news_content {
    background: none repeat scroll 0 0 #fff;
    display: block;
    overflow: hidden;
    padding: 40px;
}
#news_content p {
    margin-top: 20px;
    float: left;
}
#news_content h1 {
    margin-bottom: 1.5em;
}
#blackboard {
     background: url("../images/blackboard.png");
    display: block;
    overflow: hidden;
    padding: 40px;
}
#blackboard h1{
	font-family: 'Rock Salt', sans-serif;
    color:#de3535;
    font-size: 36px;
    margin-bottom:40px;
    text-transform:uppercase;
}
#blackboard h2{
    color:#fff;
    font-size: 14px;
    margin-bottom:10px;
}
#blackboard h2 a{
    color:#de3535;
}
#blackboard p{
	font-family: 'Rock Salt', sans-serif;
	font-size: 28px;
	color:#fff;
    margin-bottom:10px;
}
#next_content {
    background: none repeat scroll 0 0 #fff;
    display: block;
    overflow: hidden;
    padding: 40px;
}
#next_content p {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-size: 14px;
}
#news_content a {
    color: #3D372D;
}
#news_content a:hover {
    color: #3D372D;
}
#next_content a {
    color: #3D372D;
    padding-top:50px;
}
#next_content a:hover {
    color: #3D372D;
}
.news_col {
    border-right: 1px solid #ddd;
    display: block;
    float: left;
    height: 335px;
    margin-left: 21px;
    margin-top: 30px;
    padding-right: 21px;
    width: 210px;
    margin-bottom:40px;
}
.news_img {
    background: none repeat scroll 0 0 #F0F0F0;
    height: 120px;
    margin-bottom: 21px;
    -webkit-border-radius:15px;
	-moz-border-radius:15px;
	border-radius:15px;
	-moz-box-shadow: 5px 5px 10px #aaa;
	-webkit-box-shadow: 5px 5px 10px #aaa;
	box-shadow: 5px 5px 10px #aaa;
}
.news_txt {
}
.tcol {
    margin-top: 0;
}
.fcol {
    border-left: medium none;
    margin-left: 0;
    padding-left: 0;
}
.lcol {
    border-right: medium none;
    padding-right: 0;
}
#spacer{
	clear:both;
	border-top:1px solid #ddd;
	padding:22px;
	width:94%;
}
