
       RewriteEngine On
  
        RewriteCond %{REQUEST_FILENAME} !-f
        RewriteCond %{REQUEST_FILENAME} !-d

        RewriteCond %{REQUEST_FILENAME} !\.(pdf|ico|flv|swf|mov|wmv|csv|jpg|jpeg|gif|png|js|css|ajax.php)$ [NC]

        RewriteRule ^(.*)$ /index.php?page=$1 [L,QSA]

